<nav class="navbar navbar-expand-lg" style="color: white;">
    <div class="container-fluid" style="color: white;">
        <a class="navbar-brand" style="color: white; font-weight: bold; font-family:cursive;" href="#">NAVAD
            <small style="margin-left: -9px;">store</small></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: white;">Inicio</a>
                </li>
            </ul>

            <form class="d-flex">
                <div class="text-wrap p2">
                    <label
                        style="color: white; font-weight: bold; margin-right: 10px; margin-top: 8px;">{{this.UsuarioModel.first_name}}
                        {{this.UsuarioModel.middle_name}}</label>
                </div>
            </form>

            <div class="dropdown mr-3 ml-3" data-toggle="modal" data-target="#staticBackdrop" style="cursor: pointer; ">

                <i class="fas fa-shopping-cart"></i><span class="sec counter counter-lg"
                    style="font-weight: bold;"><small>{{contadorCarrito}}</small></span>

            </div>


            <form>
                <div class="p2">
                    <button class="btn btn-danger text-wrap" style="font-weight: bold;" type="submit"
                        (click)="logout()">Cerrar
                        Sesión</button>

                </div>
            </form>


        </div>
    </div>
</nav>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Carrito de compras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>