<div class=" container-fluid">
    <div class="row">
        <div class="col-md-2 p-0">
            <div class="card-body">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="..." class="rounded img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="card-body">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="..." class="rounded img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0">
            <div class="card-body">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title text-center">Paquete Micro x IZZI</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore mollitia at maiores.
                            Reprehenderit, natus quibusdam. Expedita quia exercitationem esse consequatur sequi! Ab,
                            cum. Ipsam, ab! Repellat voluptas maxime quod id.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 p-0">
            <div class="card-body">
                <div class="card shadow">
                    <div class="card-body">
                        <h6></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>