<div class="card text-center" id="cerrarModal">

    <div class="card-body">
        <!-- body -->
        <div style="padding-top: 5%; padding-right: 30%; padding-left: 30%; padding-bottom: 5%">
            <form #forma="ngForm" autocomplete="off">
                <div style="padding: 5%;  border-radius: 5%;" class="shadow-lg p-3 mb-5 bg-white">
                    <a class="navbar-brand"
                        style="color: black; font-weight: bold; font-family:cursive; font-size: 25px;" href="#">NAVAD
                        <small style="margin-left: -9px;">store</small></a>
                    <!-- Correo Electronico -->
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="floatingInput7"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" class="form-control"
                            placeholder="Correo Electrónico"
                            [ngClass]="{'is-invalid': email.errors?.required && forma.controls['email'].touched }"
                            name="email" [(ngModel)]="UsuarioModel.email" required #email="ngModel">
                        <label for="floatingInput">Correo Electronico</label>
                        <div class="invalid-feedback" *ngIf="email.errors?.required">
                            <small>Es necesario ingresar un Correo Electrónico.</small>
                        </div>
                        <div class="bad-pattern" *ngIf="email.errors?.pattern">
                            <small style="color: red;">El correo electrónico es inválido.</small>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" type="password"
                            class="form-control" placeholder="Contraseña"
                            [ngClass]="{'is-invalid': password.errors?.required && forma.controls['password'].touched }"
                            name="password" [(ngModel)]="UsuarioModel.password" required #password="ngModel">
                        <label for="floatingInput">Contraseña</label>
                        <div class="invalid-feedback" *ngIf="password.errors?.required">
                            <small>Es necesario ingresar una Contraseña.</small>
                        </div>
                        <div class="bad-pattern" *ngIf="password.errors?.pattern">
                            <small style="color: red;">La contraseña es invalida</small>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">

                        <button [disabled]="forma.invalid" type="button" class="btn btn-success"
                            (click)="login()">Iniciar
                            sesión</button>

                        <button type="button" class="btn btn-danger" (click)="limpiar(forma)">Cancelar</button>
                    </div>

                    <div class="row mt-2">
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <input class="form-check-input" name="isChecked" type="checkbox" value=""
                                    id="flexCheckDefault" [(ngModel)]="isChecked">
                                <label class=" form-check-label" for="flexCheckDefault">
                                    Recordar cuenta
                                </label>
                            </div>
                        </div>
                        <div class="col-4">

                        </div>
                    </div>


                    <div class="d-grid gap-2 mt-3">
                        <a href="" id="openModal" style="text-decoration:none; color: rgb(64, 64, 182);"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <a style="text-decoration:none; cursor: pointer; color: rgb(64, 64, 182);"
                            (click)="registrar()">¿No tienes
                            cuenta?

                            Registrate!</a>
                    </div>

                    <!-- Modal -->
                    <form #forma2="ngForm">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Olvidaste tu Contraseña?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                                            aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                ¿No tienes una cuenta?
                                                <li class="breadcrumb-item"><a href="/accesoUsuario">Registrate</a>
                                                </li>

                                            </ol>
                                        </nav>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput10"
                                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email"
                                                class="form-control" placeholder="Correo Electrónico"
                                                [ngClass]="{'is-invalid': emailValidator.errors?.required && forma2.controls['emailValidator'].touched }"
                                                name="emailValidator" [(ngModel)]="CorreoModel.email" required
                                                #emailValidator="ngModel">
                                            <label for="floatingInput">Ingresa tu correo electronico</label>
                                            <div class="invalid-feedback" *ngIf="emailValidator.errors?.required">
                                                <small>Es necesario ingresar un Correo Electrónico para recuperar tu
                                                    contraseña.</small>
                                            </div>
                                            <div class="bad-pattern" *ngIf="emailValidator.errors?.pattern">
                                                <small style="color: red;">El correo electrónico es inválido.</small>
                                            </div>
                                            <div class="text-center" *ngIf="this.spinner">
                                                <div class="spinner-border" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-grid gap-2">
                                            <button [disabled]="forma2.invalid" class="btn btn-success" type="button"
                                                (click)="recoveryPass()">Validar</button>
                                        </div>
                                    </div>

                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </form>
        </div>


    </div>
</div>